/*body{
    background:blue;
}*/
/*p{
    background-color:  red;
    color: green;
}
#home{
    background-color: yellow;
    color: black;
}
.footer{
    background-color: pink;
    color: purple;
}*/
/*+ jo imediate sibling hoga uspe change hoga*/

div~p{
    background-color: aqua;
    color: beige;
}
/*p:hover{
    font-size: xx-large;
    background-color: brown;

}*/
p::after{
    content: "ABES engineering college";
    color: #3a0202;
    background: #13970e;
}
p::before{
    content: "we are good student";
    color: #3a0202;
    background: #13970e;
}
p::selection{
    background-color: darkkhaki;
}
p:nth-child(2){
    background-color: darkblue;
    color: chocolate;
}
div p:nth-of-type(1){
    background-color: crimson;
    font-size: x-small;
}

