.container{
    display: grid;
    background-color: lightgrey;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 70px 350px 400px;
    border: 1px solid black;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightcoral;
    border: 1px solid rgb(112, 3, 3);
}
.subheader{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(24, 25, 26);
    border: white;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.container1{

    display: grid;
    background-color: rgb(211, 211, 211);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    border: 1px solid black;
    

}
.container11{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-top: 20px;

}
.container11 img{
    height: 100px;
    width: 100px;
    

}

.container12{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
.container12 img{
    height: 100px;
    width: 100px;
    
}
.container13{
    background-color: navy;
    height: 100px;
    width: 100px;
    margin-top:10px ;
}
.container13 img{
    height: 100px;
    width: 100px;
    
}
.container14{
    background-color: skyblue;
    height: 100px;
    width: 100px;
    margin-top: 20px;}

.container2{
    display: grid;
    background-color: rgb(211, 211, 211);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    border: 1px solid black;

}
.container21{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-top: 20px;

}
.container22{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-top: 20px;

}
.container23{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-top: 20px;

}
.container24{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-top: 20px;

}
.container3{
    background-color: lightpink;
    border: 1px solid rgb(112, 3, 112);

}
.container4{
    background-color: lightyellow;
    border: 1px solid rgb(112, 112, 3);

}
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(26, 24, 24);
    border: white;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}